@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

@if (Count is not null)
{
    <ComponentDetails Count="@Count" />
}
else
{
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    <button @onclick=@(() => NavigationManager.NavigateTo($"/counter/{currentCount}"))>SubPage</button>
}


@code {
    [Parameter] public int? Count { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;


    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("Render");

        if(firstRender)
        {
            Console.WriteLine("First render!");
        }
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
